.maindiv{

    display:flex;
justify-content: space-between;
gap:20px;
align-items:center;
border: 1px solid #adadad ;
}
.buttondiv{
    display:flex;
        justify-content:"space-evenly";
        align-items:center;
        gap:2vw;
        font-weight: bold;
  
}
.linkdiv{
    margin-right: 2vw;
    display:flex;
gap:2vw;
    align-items:center;
    font-weight: bold;
}
.logo{
    margin-left: 2vw;
    font-weight: bold;
}